In [8]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to C:\Users\mzraj

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 3.53MB/s]

In [1]:
import pandas as pd

In [99]:
pip install kaggle

Requirement already satisfied: kaggle in c:\users\mzraj\anaconda3\lib\site-packages (1.6.17)
Requirement already satisfied: six>=1.10 in c:\users\mzraj\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\mzraj\anaconda3\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\users\mzraj\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\mzraj\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\mzraj\anaconda3\lib\site-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in c:\users\mzraj\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\mzraj\anaconda3\lib\site-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in c:\users\mzraj\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\mzraj\anaconda3\lib\site-packages (from bleach->kaggle) (24.1)
Requirement already satisfied: webencodings in c:\users\mzraj\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\mzraj\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\mzraj\anaconda3\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mzraj\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\mzraj\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import zipfile

In [17]:
# Path to the zip file
zip_file_path = r'C:\Users\mzraj\orders.zip'

# Path where you want to extract the files
extract_to = r'E:\New folder/'

# Open the zip file
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    # Extract all contents into the specified folder
    zip_ref.extractall(extract_to)

print("File unzipped successfully.")

File unzipped successfully.

In [19]:
#Read the Dataset in file path
pd.read_csv(r'E:\New folder\orders.csv')

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [5]:
#Set the name for Dataframe
df=pd.read_csv(r'E:\New folder\orders.csv')

In [72]:
#Finding the missing values
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [7]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discounted_price,discount,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,5.2,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,21.9,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,0.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,19.2,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,28.8,1.2,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,86.4,3.6,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,254.8,5.2,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,29.1,0.9,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,232.8,7.2,22.8

In [76]:

#Set the default value for missing values

df.fillna({'Ship Mode':0},inplace = True)

In [78]:
df

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [9]:
df.isnull().sum()

order_id            0
order_date          0
ship_mode           0
segment             0
country             0
city                0
state               0
postal_code         0
region              0
category            0
sub_category        0
product_id          0
cost_price          0
list_price          0
quantity            0
discount_percent    0
discounted_price    0
discount            0
profit              0
dtype: int64

In [11]:
df.rename(columns={'Order Id': 'order_id'}, inplace=True)

In [13]:
df.rename(columns={'Order Date': 'order_date'}, inplace=True)

In [15]:
df.rename(columns={'Ship Mode': 'ship_mode','Postal Code':'postal_code'}, inplace=True)

In [17]:
df.rename(columns={'Sub Category': 'sub_category','Product Id':'product_id'}, inplace=True)

In [19]:
df.rename(columns={'cost price': 'cost_price','List Price':'list_price','Discount Percent':'discount_percent'}, inplace=True)

In [21]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discounted_price,discount,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,5.2,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,21.9,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,0.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,19.2,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,28.8,1.2,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,86.4,3.6,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,254.8,5.2,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,29.1,0.9,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,232.8,7.2,22.8

In [23]:
df.rename(columns={'Order_Id': 'order_id','Order_Date': 'order_date','Cost_Price': 'cost_price','Ship_Mode': 'ship_mode','Postal_Code':'postal_code','List_Price':'list_price','Sub_Category': 'sub_category','Product_Id':'product_id','Discount_Percent':'discount_percent'}, inplace=True)

In [25]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discounted_price,discount,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,5.2,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,21.9,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,0.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,19.2,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,28.8,1.2,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,86.4,3.6,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,254.8,5.2,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,29.1,0.9,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,232.8,7.2,22.8

In [27]:
df.rename(columns={'Segment':'segment','Country':'country','State':'state','Region':'region','Category':'category','Quantity':'quantity'},inplace = True)

In [29]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discounted_price,discount,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,5.2,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,21.9,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,0.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,19.2,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,28.8,1.2,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,86.4,3.6,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,254.8,5.2,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,29.1,0.9,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,232.8,7.2,22.8

In [96]:
df.rename(columns={'Cost_Price': 'cost_price'}, inplace=True)

In [98]:
df

,order_id,order_date,ship_mode,segment,country,City,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [31]:
df.rename(columns={'City': 'city'}, inplace=True)

In [33]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discounted_price,discount,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,5.2,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,21.9,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,0.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,19.2,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,28.8,1.2,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,86.4,3.6,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,254.8,5.2,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,29.1,0.9,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,232.8,7.2,22.8

In [35]:
def calculate_discount_price(list_price, discount_percent):
    discount_decimal = discount_percent / 100
    return list_price * (1 - discount_decimal)

In [37]:
df['discounted_price'] = df.apply(lambda row: calculate_discount_price(row['list_price'], row['discount_percent']), axis=1)

In [39]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discounted_price,discount,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,5.2,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,21.9,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,0.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,19.2,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,28.8,1.2,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,86.4,3.6,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,254.8,5.2,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,29.1,0.9,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,232.8,7.2,22.8

In [41]:
def calculate_discount(list_price, discounted_price):
    return list_price - discounted_price

In [43]:
df['discount'] = df.apply(lambda row: calculate_discount(row['list_price'], row['discounted_price']), axis=1)

In [45]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discounted_price,discount,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,5.2,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,21.9,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,0.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,19.2,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,28.8,1.2,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,86.4,3.6,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,254.8,5.2,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,29.1,0.9,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,232.8,7.2,22.8

In [47]:
def profit( discounted_price,cost_price):
    return cost_price - discounted_price

In [49]:
df['profit'] = df.apply(lambda row: calculate_discount( row['discounted_price'],row['cost_price']), axis=1)

In [51]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discounted_price,discount,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,5.2,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,708.1,21.9,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,9.5,0.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,940.8,19.2,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,19.0,1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,28.8,1.2,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,86.4,3.6,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,254.8,5.2,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,29.1,0.9,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,232.8,7.2,22.8

In [53]:
df.to_csv('orders.csv', index=False)

In [55]:
df1 = df[['order_id', 'order_date','ship_mode','segment','country','city','state','postal_code','region','category']]

In [57]:
df1

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies
...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies

In [115]:
df2=df[['order_id','sub_category','product_id','cost_price','list_price','quantity','discount_percent','discounted_price','discount','profit']]

In [117]:
df2

,order_id,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discounted_price,discount,profit
0,1,Bookcases,FUR-BO-10001798,240,260,2,2,254.8,5.2,14.8
1,2,Chairs,FUR-CH-10000454,600,730,3,3,708.1,21.9,108.1
2,3,Labels,OFF-LA-10000240,10,10,2,5,9.5,0.5,-0.5
3,4,Tables,FUR-TA-10000577,780,960,5,2,940.8,19.2,160.8
4,5,Storage,OFF-ST-10000760,20,20,2,5,19.0,1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...
9989,9990,Furnishings,FUR-FU-10001889,30,30,3,4,28.8,1.2,-1.2
9990,9991,Furnishings,FUR-FU-10000747,70,90,2,4,86.4,3.6,16.4
9991,9992,Phones,TEC-PH-10003645,220,260,2,2,254.8,5.2,34.8
9992,9993,Paper,OFF-PA-10004041,30,30,4,3,29.1,0.9,-0.9
9993,9994,Appliances,OFF-AP-10002684,210,240,2,3,232.8,7.2,22.8

In [119]:
df1.to_csv(r'E:\New folder\order1.csv', index=False)

In [121]:
df2.to_csv(r'E:\New folder\order2.csv', index=False)

In [212]:
df.to_csv(r'E:\New folder\orders.csv', index=False)

In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\mzraj\anaconda3\lib\site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="raja",
  auth_plugin='mysql_native_password'
)

mycursor = mydb.cursor()

In [101]:
mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('amazon',)
('college',)
('dte38',)
('employee',)
('icecream',)
('information_schema',)
('mysql',)
('performance_schema',)
('retailanalysis',)
('sakila',)
('smartphone',)
('student',)
('sys',)
('tip',)
('world',)
('zomato',)

In [5]:
mycursor.execute("use retailanalysis")

In [125]:
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('order1',)
('order2',)
('orders',)

In [ ]:
#Set the primary key in parent table.

mycursor.execute("ALTER TABLE order1 ADD CONSTRAINT pk_order_id PRIMARY KEY (order_id)")

In [ ]:
#Set the foreign key in child table.
mycursor.execute("ALTER TABLE order2 ADD CONSTRAINT fk_order_id FOREIGN KEY (order_id) REFERENCES order1 (order_id);")

In [65]:
# 1.Find top 10 highest revenue generating products


import pandas as pd

# Execute the query
mycursor.execute("SELECT product_id, SUM(discounted_price) AS sales FROM orders GROUP BY product_id ORDER BY sales DESC LIMIT 10;")

# Fetch all results
table1 = mycursor.fetchall()

# Convert results to a pandas DataFrame, using the correct 'columns' argument
answer_1 = pd.DataFrame(table1, columns=['product_id', 'sales'])

# Display the DataFrame
print(answer_1)

        product_id    sales
0  TEC-CO-10004722  59514.0
1  OFF-BI-10003527  26525.3
2  TEC-MA-10002412  21734.4
3  FUR-CH-10002024  21096.2
4  OFF-BI-10001359  19090.2
5  OFF-BI-10000545  18249.0
6  TEC-CO-10001449  18151.2
7  TEC-MA-10001127  17906.4
8  OFF-BI-10004995  17354.8
9  OFF-SU-10000151  16325.8

In [73]:
#2. Find the top 5 cities with the highest profit margins

# Execute the corrected SQL query
mycursor.execute("SELECT city, SUM(profit) AS profitmargin FROM orders GROUP BY city ORDER BY profitmargin DESC LIMIT 5;")

# Fetch all results
table2 = mycursor.fetchall()

# Convert results to a pandas DataFrame, using the correct column names
answer_2 = pd.DataFrame(table2, columns=['city', 'profitmargin'])

# Display the DataFrame
print(answer_2)

            city  profitmargin
0  New York City       20925.7
1    Los Angeles       15088.4
2  San Francisco       10140.1
3        Seattle        9828.7
4   Philadelphia        9788.3

In [75]:
#3. Calculate the total discount given for each category
mycursor.execute("SELECT category, SUM(discount) AS total_discount FROM orders GROUP BY category ORDER BY total_discount DESC LIMIT 3;")

table3 = mycursor.fetchall()

answer_3 = pd.DataFrame(table3, columns=['category', 'total_discount'])

answer_3

          category  total_discount
0       Technology         29346.5
1        Furniture         26049.3
2  Office Supplies         24935.5

In [77]:
# 4.Find the average sale price per product category

mycursor.execute("SELECT category, avg(discounted_price) AS ave_price FROM orders GROUP BY category;")

table4 = mycursor.fetchall()

answer_4 = pd.DataFrame(table4, columns=['category', 'ave_price'])

answer_4

          category   ave_price
0        Furniture  337.265771
1  Office Supplies  115.108613
2       Technology  436.856253

In [79]:
# 5.Find the region with the highest average sale price

mycursor.execute("SELECT region, avg(discounted_price) AS region_price FROM orders GROUP BY region;")

table5 = mycursor.fetchall()

answer_5 = pd.DataFrame(table5, columns=['region', 'region_price'])

answer_5

    region  region_price
0    South    233.340432
1     West    218.500968
2  Central    208.208610
3     East    229.747191

In [81]:
#6. Find the total profit per category

mycursor.execute("SELECT category, sum(profit) AS total_profit FROM orders GROUP BY category;")

table6 = mycursor.fetchall()

answer_6 = pd.DataFrame(table6, columns=['category', 'total_profit'])

answer_6

          category  total_profit
0        Furniture       66480.7
1  Office Supplies       62254.5
2       Technology       76433.5

In [83]:

# 7.Identify the top 3 segments with the highest quantity of orders

mycursor.execute("SELECT segment, sum(quantity) AS total_segment FROM orders GROUP BY segment;")

table7 = mycursor.fetchall()

answer_7 = pd.DataFrame(table7, columns=['segment', 'total_segment'])

answer_7

       segment total_segment
0     Consumer         19521
1    Corporate         11608
2  Home Office          6744

In [87]:
# 8.Determine the average discount percentage given per region

mycursor.execute("SELECT region, avg(discount_percent) AS dis_percent FROM orders GROUP BY region;")

table8 = mycursor.fetchall()

answer_8 = pd.DataFrame(table8, columns=['region', 'dis_percent'])

answer_8

    region dis_percent
0    South      3.4827
1     West      3.4849
2  Central      3.4722
3     East      3.4937

In [89]:
#9. Find the product category with the highest total profit

mycursor.execute("SELECT category, sum(profit) AS high_profit FROM orders GROUP BY category ORDER BY high_profit DESC;")

table9 = mycursor.fetchall()

answer_9 = pd.DataFrame(table9, columns=['category', 'high_profit'])

answer_9

          category  high_profit
0       Technology      76433.5
1        Furniture      66480.7
2  Office Supplies      62254.5

In [95]:
#10. Calculate the total revenue generated per year

# Execute the corrected SQL query to group by year
mycursor.execute("SELECT YEAR(order_date) AS revenue_year, SUM(profit) AS revenue_year FROM orders GROUP BY revenue_year ORDER BY revenue_year;")

# Fetch all results
table10 = mycursor.fetchall()

# Convert results to a pandas DataFrame with correct column names
answer_10 = pd.DataFrame(table10, columns=['revenue_year', 'revenue'])

# Display the DataFrame
print(answer_10)

   revenue_year   revenue
0          2022  101620.2
1          2023  103548.5

In [15]:
#11.Top 10 Highest profit in the state 

mycursor.execute("""
    SELECT order1.state, SUM(order2.profit) AS state_profit
    FROM order1
    LEFT JOIN order2 ON order1.order_id = order2.order_id
    GROUP BY order1.state
    ORDER BY state_profit DESC limit 10;
""")


table11 = mycursor.fetchall()

# Convert results to a pandas DataFrame with correct column names
answer_11 = pd.DataFrame(table11, columns=['state', 'profit'])

# Display the DataFrame
print(answer_11)

          state   profit
0    California  40207.0
1      New York  25557.5
2         Texas  14946.9
3    Washington  11169.7
4  Pennsylvania  10227.4
5       Florida   9791.1
6          Ohio   6871.4
7      Michigan   6819.5
8      Illinois   6684.8
9      Virginia   6338.5

In [17]:
#12.Top 10 Highest quantity sales in the city

mycursor.execute("""
    SELECT order1.city, SUM(order2.quantity) AS city_highest
    FROM order1
    LEFT JOIN order2 ON order1.order_id = order2.order_id
    GROUP BY order1.city
    ORDER BY city_highest DESC limit 10;
""")


table12 = mycursor.fetchall()

# Convert results to a pandas DataFrame with correct column names
answer_12 = pd.DataFrame(table12, columns=['city', 'quantity'])

# Display the DataFrame
print(answer_12)

            city quantity
0  New York City     3417
1    Los Angeles     2879
2   Philadelphia     1981
3  San Francisco     1935
4        Seattle     1590
5        Houston     1466
6        Chicago     1132
7       Columbus      836
8      San Diego      670
9    Springfield      649

In [19]:
#13.top 3 Highest profit in ship mode

mycursor.execute("""
    SELECT order1.ship_mode, SUM(order2.profit) AS ship_highest
    FROM order1
    LEFT JOIN order2 ON order1.order_id = order2.order_id
    GROUP BY order1.ship_mode
    ORDER BY ship_highest DESC limit 3;
""")


table13 = mycursor.fetchall()

# Convert results to a pandas DataFrame with correct column names
answer_13 = pd.DataFrame(table13, columns=['ship_mode', 'profit'])

# Display the DataFrame
print(answer_13)

        ship_mode    profit
0  Standard Class  122005.1
1    Second Class   41386.1
2     First Class   30452.3

In [25]:
#14.Top 3 list price in the  category

mycursor.execute("""
    SELECT order1.category, SUM(order2.list_price) AS list_highest
    FROM order1
    LEFT JOIN order2 ON order1.order_id = order2.order_id
    GROUP BY order1.category
    ORDER BY list_highest DESC limit 3;
""")


table14 = mycursor.fetchall()

# Convert results to a pandas DataFrame with correct column names
answer_14 = pd.DataFrame(table14, columns=['category', 'list_price'])

# Display the DataFrame
print(answer_14)

          category list_price
0       Technology     836220
1        Furniture     741390
2  Office Supplies     718580

In [29]:
#15.Average discounted price in the  region
mycursor.execute("""
    SELECT order1.region, avg(order2.discounted_price) AS dis_average
    FROM order1
    LEFT JOIN order2 ON order1.order_id = order2.order_id
    GROUP BY order1.region
    ORDER BY dis_average DESC ;
""")


table15 = mycursor.fetchall()

# Convert results to a pandas DataFrame with correct column names
answer_15 = pd.DataFrame(table15, columns=['region', 'discounted_price'])

# Display the DataFrame
print(answer_15)

    region  discounted_price
0    South        233.340432
1     East        229.747191
2     West        218.500968
3  Central        208.208610

In [33]:
#16.Average cost price in the each segment

mycursor.execute("""
    SELECT order1.segment, avg(order2.cost_price) AS segment_average
    FROM order1
    LEFT JOIN order2 ON order1.order_id = order2.order_id
    GROUP BY order1.segment
    ORDER BY segment_average DESC ;
""")


table16 = mycursor.fetchall()

# Convert results to a pandas DataFrame with correct column names
answer_16 = pd.DataFrame(table16, columns=['segment', 'cost_price'])

# Display the DataFrame
print(answer_16)

       segment cost_price
0  Home Office   211.1946
1    Corporate   203.9801
2     Consumer   196.1298

In [35]:
#17.Top  discount in the category

mycursor.execute("""
    SELECT order1.category, sum(order2.discount) AS discount_highest
    FROM order1
    LEFT JOIN order2 ON order1.order_id = order2.order_id
    GROUP BY order1.category
    ORDER BY discount_highest DESC ;
""")


table17 = mycursor.fetchall()

# Convert results to a pandas DataFrame with correct column names
answer_17 = pd.DataFrame(table17, columns=['category', 'discount'])

# Display the DataFrame
print(answer_17)

          category  discount
0       Technology   29346.5
1        Furniture   26049.3
2  Office Supplies   24935.5

In [39]:
#18.10 Highest quantity in the postal code
mycursor.execute("""
    SELECT order1.postal_code, sum(order2.quantity) AS postal_highest
    FROM order1
    LEFT JOIN order2 ON order1.order_id = order2.order_id
    GROUP BY order1.postal_code
    ORDER BY postal_highest DESC limit 10;
""")


table18 = mycursor.fetchall()

# Convert results to a pandas DataFrame with correct column names
answer_18 = pd.DataFrame(table18, columns=['postal_code', 'quantity'])

# Display the DataFrame
print(answer_18)

   postal_code quantity
0        10035      953
1        10009      848
2        10024      840
3        94122      802
4        10011      776
5        98105      625
6        94110      618
7        19134      585
8        90049      580
9        19140      564

In [43]:
#19.Average discount in the state

mycursor.execute("""
    SELECT order1.state, avg(order2.discount) AS discount_average
    FROM order1
    LEFT JOIN order2 ON order1.order_id = order2.order_id
    GROUP BY order1.state
    ORDER BY discount_average DESC limit 10;
""")


table19 = mycursor.fetchall()

# Convert results to a pandas DataFrame with correct column names
answer_19 = pd.DataFrame(table19, columns=['state', 'avgerage_discount'])

# Display the DataFrame
print(answer_19)

          state  avgerage_discount
0       Wyoming          64.000000
1       Vermont          26.554545
2       Montana          17.300000
3  Rhode Island          16.135714
4        Nevada          15.174359
5       Indiana          12.036913
6      Missouri          10.939394
7      Delaware          10.861458
8       Alabama          10.754098
9      Oklahoma          10.512121

In [45]:
#20.Average cost price in the each region

mycursor.execute("""
    SELECT order1.region, avg(order2.cost_price) AS cost_average
    FROM order1
    LEFT JOIN order2 ON order1.order_id = order2.order_id
    GROUP BY order1.region
    ORDER BY cost_average DESC;
""")


table20 = mycursor.fetchall()

# Convert results to a pandas DataFrame with correct column names
answer_20 = pd.DataFrame(table20, columns=['region', 'cost_average'])

# Display the DataFrame
print(answer_20)

    region cost_average
0    South     209.8765
1     East     209.3048
2     West     198.9697
3  Central     188.2437